/*Start Main Rules*/
body{
    background-color: antiquewhite;
}
/* Start Login Form */
.login{
    width: 300px;
    margin: 100px auto;
}
.login h4{
    color: #888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: beige;
}
/* End Login Form */